@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    min-height: 100vh;
}

.hero__about {
    padding: 0;
    height: 111px;

    @media screen and (min-width: 768px) {
        height: 200px;
        
    }

    @media screen and (min-width: 1024px) {
        height: 223px;
        
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li,
button,
input,
textarea {
    margin: 0;
}

#root {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}