.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
  aspect-ratio: 16/9;
  height: 255px;

    @media screen and (min-width: 768px) {
        height: 415px;
    }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 1240px;
    border-radius: 10px;



    &.active {
      display: block;
    }
  }

  .slideCount {
    position: absolute;
    bottom: 25px;
    left: 50%;
    color: white;
    font-weight: bold;
    font-size: 18px;
    z-index: 2;
  }

  .carousel_arrow {
    position: absolute;
    top: 50%;
    cursor: pointer;
    width: 100%;
    height: 24px;
    z-index: 3;
    transition: opacity 0.3s ease;

    .carousel_arrow_left {
      left: 0px;
      height: 24px;
      width: 24px;
      position: absolute;

      @media screen and (min-width: 768px) {
        width: 46px;
        height: 79px;
      }
    }

    .carousel_arrow_right {
      right: 0px;
      height: 24px;
      width: 24px;
      position: absolute;

        @media screen and (min-width: 768px) {
            width: 46px;
            height: 79px;
        }
    }

    :hover {
      opacity: 0.8;
    }
  }
}
